{% extends "layout.html" %}

{% block title %}
    MY-ABOUT

{% endblock title %}

{% block body %}
    <br> <br> <br>

    <h3>MY-ABOUT</h3>
    <hr>


<div style="overflow: auto;" >
    <img src="https://media.licdn.com/dms/image/D4E03AQFP8v7ixgH-OA/profile-displayphoto-shrink_800_800/0/1680471557524?e=1694044800&v=beta&t=Se1Xwd7IKg9C-0VpnPstOjKC6E6NVAlIBqyKr1uSftE" alt="MY.PHOTO" width="300" style="float: right; margin-left: 10px;">
    <p><i><b>
        Hello,<mark><b><i> I'm Yunus Emre Karataş!</i></b></mark>I am a computer engineering student at Manisa Celal Bayar University. Coding, exercising, and learning new things are among my hobbies. I have knowledge in various programming technologies such as <mark><i><b>Python, Flask, Django, Java, HTML, CSS, and JavaScript, and I continue to improve myself in these areas.</b></i></mark> As someone dedicated to technology and the software world, I enjoy creating new projects and using my coding skills to solve problems. Additionally, I prioritize maintaining my mental and physical health through sports. I am open to learning new things and constantly seize opportunities to improve myself.
        Through this form website I have created, we can log in and add the books we have read, and see who has read which book. Additionally, we can write about what the book is about. I created this form website to socialize online and create opportunities for ourselves to discover new books.
    </b></i></p>
</div>



{% endblock body %}